.About {
	margin-top: 5em;
    width: 100%;
}

.About h1 {
	margin: 0.5em 0;
	font-size: 2.5em;
}

.AboutContent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.AboutContentLeft {
    width: 50%;
}

.AboutContentRight {
    width: 50%;
    padding: 0 5em;
}

.AboutContentLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 2em;
}

.AboutContentLogos a {
    margin: 1.25em;
    display: flex;
    align-items: center;
}

@media (max-width: 1250px) {
    .AboutContent {
        flex-direction: column;
    }

    .AboutContentLeft, .AboutContentRight {
        width: 100%;
    }

    .AboutContentRight {
        padding: 0;
    }
}