.Main {
    display: flex;
	margin-top: 1.5em;
    width: 100%;
    justify-content: space-evenly;
}

.Main h1 {
	margin: 0.5em 0;
	font-size: 4em;
}

.Main h5, main h6 {
	color: rgb(209, 209, 209);
	padding-bottom: .5em;
}

#learnMore {
	margin-top: 0.5em;
}

.Main img {
	border-radius: 50%;
    object-fit: contain;
	margin: 2.5em 0 4em 6em;
	height: 400px;
	width: 366px;
}

@media (max-width: 775px) {
    .Main {
		flex-direction: column;
		align-items: center;
	}

    .Main img {
        margin: 0;
    }
}

@media (max-width: 575px) {
	.Main h1 {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	.Main h5:last-child {
		padding-bottom: 5em;
	}
}

@media (max-width: 400px) {
	.MainContent {
		font-size: small;
	}
}