.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-top: 5em;
    width: 100%;
}

.Projects h1 {
	margin: 0.5em 0;
	font-size: 2.5em;
}

.ProjectsHeader, .ProjectsContent {
    width: 50%;
}

.ProjectsHeader {
    margin-bottom: 3em;
}

.ProjectArea {
    margin-bottom: 2.5em;
}

@media (max-width: 1000px) {
    .ProjectsHeader, .ProjectsContent {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .ProjectsHeader {
        margin-bottom: 2.5em;
    }
}