.projects {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.projects-content {
    display: grid;
    justify-content: center;
    gap: 1em;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(550px, 5%));
    padding: 2em 0;
}

@media (max-width: 775px) {
   .projects-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}