.project-card {
    padding: 1em 2em;
    height: fit-content;
    border-radius: 10px;
    border: solid 2px var(--text);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: white;
    text-decoration: none;
    filter: drop-shadow(5px 5px 0px var(--text));
    transition: all 250ms ease-in-out;
}

.project-card:hover {
    transform: scale(1.125);
    background: var(--accent);
    z-index: 1;
}

.project-card img {
    margin: 0.5em 0;
    width: 7.5em;
}

.project-card h2 {
    width: 100%;
    text-align: center;
    margin: 0.25em 0;
}

@media (max-width: 775px) {
    .project-card {
        width: 50%;
    }

    .project-card:hover {
        transform: none;
    }
}