
header {
	padding: 0.5em 4em;
}

footer {
	display: flex;
	justify-content: space-between;
}

#nav .active {
    font-weight: bolder;
}

.nav-item {
	padding: 0 0.5em;
	font-size: 1em;
}

.navbar-brand {
	padding: 0 1em 0 0;
	font-size: 1.5em;
}

.social {
	color: white;
	margin-top: .5em;
	display: inline-block;
}

.social li {
	list-style-type: none;
	display: inline-block;
}

#copyright {
	padding-top: .8em;
	color: #858585;
	display: inline-block;
}

@media (max-width: 550px) {
	#footer-name {
		margin-right: -1em;
	}
	#copyright {
		display: none;
	}
}
@media (max-width: 390px) {
	.social {
		margin-right: -1.5em;
	}
	.navbar-brand {
		margin-left: -3em;
	}
	#footer-name {
		margin-left: -1.25em;
	}
}