:root {
	--navTranTime: 375ms;
	--tranTime: 500ms;
	--orange: rgb(255, 166, 0);
}

body {
	margin: 0;
	overflow-x: hidden;
	background-image: radial-gradient(circle closest-corner at 70% 55%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .75), rgba(0, 0, 0, 1)) , 
						url("../images/coding-backgorund.jpg.jpg");
	background-position: center;
}

header, main {
	padding: 1em 5em;
}

main {
	color: white;
	height: calc(100vh - 94px);
	padding-bottom: -16px;
}

a {
	color: var(--orange);
	text-decoration: underline 0.15em rgba(0, 0, 0, 0);
	text-underline-offset: 0.4em;
	transition: text-decoration-color var(--tranTime);
}
  
a:hover {
	color: var(--orange);
	text-decoration-color: rgba(255, 166, 0, 1);
 	text-underline-offset: 0.4em;
}

#logos a {
	text-decoration: none;
}

.main {
	margin-top: 2em;
}

.main h1 {
	margin: 0.5em 0;
	font-size: 4em;
}

.main h5 {
	color: rgb(209, 209, 209);
	padding-bottom: 1em;
}

.main h5 a {
	color: var(--orange);
}

.bg-dark {
	background-color: rgba(0, 0, 0, 0) !important;
	-webkit-transition: background-color var(--navTranTime) linear;
    -ms-transition: background-color var(--navTranTime) linear;
    transition: background-color var(--navTranTime) linear;
}

.bg-dark:hover {
	background-color: rgba(0, 0, 0, 1) !important;
	-webkit-transition: background-color var(--tranTime) linear;
    -ms-transition: background-color var(--tranTime) linear;
    transition: background-color var(--tranTime) linear;
}

.active {
    color: var(--orange) !important;
}

.nav-item {
	padding: 0 0.5em;
	font-size: 1.25em;
}

.navbar-brand {
	font-size: 1.5em;
}

.social {
	margin-top: 1em;
	display: inline-block;
}

.social li {
	list-style-type: none;
	display: inline-block;
}

.collapse {
	justify-content: space-between;
}

.material-tooltip-main {
	margin-top: 0.5em;
}

.rounded {
	border-radius: 1em;
}

#github {
	padding-right: .75em;
}

#home {
	padding-left: 1em;
}

#learnMore {
	margin-top: 3em;
}

#tools {
	margin-top: 5em;
	float: right; 
	text-align: center;
}

@media (max-width: 550px) {
	header, main {
		padding: 1em 2em;
	}
}