:root {
	--tranTime: 500ms;
	--background: #070F14;
	--text: #FFFBEF;
	--accent: #FFA25B;
	--tranAccent: #FF6F00;
}

/* Same on all pages */
body {
	margin: 0;
	overflow-x: hidden;
	background-color: var(--background);
}
header, main {
	padding: 0.5em 5em;
}
footer {
	padding: 1em 5em;
}
main {
	color: var(--text);
	padding-bottom: -16px;
}
#main {
	height: 75vh;
}
.black {
	filter: brightness(0) invert(1);
}
.hidden{
	display: none;
}
.show{
	display: block;
}

/* Link underline animation */
main a, footer a {
	color: var(--accent);
	text-decoration: underline;
 	text-decoration-color: transparent;
	text-underline-offset: 0.4em;
	transition: var(--tranTime) ease-in-out;
}
main a:hover, footer a:hover {
	color: var(--tranAccent);
	text-decoration: underline;
	text-underline-offset: 0.4em;

	text-decoration-color: var(--tranAccent);
	-webkit-text-decoration-color: var(--tranAccent);
	-moz-text-decoration-color: var(--tranAccent);
}

/* Nav bar */
nav {
	position: fixed;
}
.dark-bg {
	background-color: rgba(0, 0, 0, 0) !important;
}
.active {
    color: var(--accent) !important;
}
.nav-item {
	padding: 0 0.5em;
	font-size: 1.25em;
}
.navbar-brand {
	font-size: 1.5em;
	padding-right: 1em;
}
.social {
	margin-top: 1em;
	display: inline-block;
}
.social li {
	list-style-type: none;
	display: inline-block;
}
.collapse {
	justify-content: space-between;
}
#github {
	padding-right: .75em;
}

/* Footer */
.bg-dark {
	background-color: var(--background) !important;
}
footer {
	position: fixed;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0em;
}
footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Index page */
main {
	margin-top: 1.5em;
}
main h1 {
	margin: 0.5em 0;
	font-size: 4em;
}
main h5 {
	color: rgb(209, 209, 209);
	padding-bottom: .5em;
}
#indexMain {
	float: left;
}
#learnMore {
	margin-top: 0.5em;
}
#index img {
	border-radius: 50%;
	margin: 2.5em 0 4em 6em;
	height: 400px;
	width: 366px;
}

/* About Page */
#aboutMe h2 {
	font-size: xx-large;
}
.material-tooltip-main {
	margin-top: 0.5em;
}
.rounded {
	border-radius: 1em;
}
#tools {
	margin-top: 5em; 
	text-align: center;
}
#logos a {
	text-decoration: none;
}
#logos img {
	margin-bottom: 1em;
}
#collapseResume {
	margin-bottom: 5em;
}

/* Resume */
.btn-primary {
	background-color: var(--text);
	border: 1px solid var(--background);
}
.accord-button {
	background-color: var(--background); /* #efefef;*/
	color: var(--text);
}
.arrow {
  	border: solid var(--accent);
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
}
.up {
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	margin-bottom: 0.15em;
}
.down {
  	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
	margin-bottom: 0.25em;
}
.accord-header button {
	color: var(--accent);
	width: 50%;
	text-align: center;
	padding: .25em;
}
.accord-header, #collapseResume {
	display: flex;
	justify-content: center;
	align-items: center;
}
.accord-body {
	width: 75%;
	text-align: center;
	align-self: center;
}
.resumeSubheading {
	color: var(--accent);
}

/* Work Page */
#heading {
	height: 75vh;
}
#sections {
	opacity: 0;
}
.section {
	height: 60vh;
	padding-top: 2em;
	margin-left: 0em;
	width: 100vw;
	background-color: var(--background);
}
.workLearnMore {
	padding-top: 1em;
}
.section img {
	padding-right: .5em;
}

/* Contact Page */
.contactInfo {
	padding-top: 2em;
	text-align: center;
	font-size: x-large;
}
form {
	text-align: center;
}
.contactButton {
	background: var(--accent);
	margin: 0em 3.5em;
	border: 0px;
	font-weight: bold;
	font-size: large;
	border-radius: 2px;
	transition: var(--tranTime) ease-in-out;
}
.contactButton:hover {
	background: var(--tranAccent);
	border: 0px;
	font-weight: bold;
	font-size: large;
	border-radius: 12px;
}

@media (max-width: 1075px) {
	#index img {
		float: none;
		margin: 0 0 4em 6em;
	}
	footer div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	footer {
		position: fixed;
		height: 125px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
}

@media (min-width: 850px) {
	#aboutMeFlex, #contactFlex {
		display: flex;
		flex-direction: row;
	}
	#contactFlex {
		justify-content: space-around;
	}

	#aboutMe {
		width: 40%;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
	}
	#rightAboutMe {
		margin-left: 3em;
	}
}

@media (min-width: 575px) {
	#indexMain {
		height: 74vh;
	}
	#contactFlex {
		height: 76vh;
	}
}

@media (max-width: 575px) {
	/* Same on all pages */
	header, main {
		padding: 1em 1em;
	}
	footer {
		padding: 2em 1em;
	}
	.hide {
		display: none;
	}
	.hidden {
		display: unset;
	}
	footer div {
		display: block;
	}
	aside {
		padding-top: 1em;
	}
	#sections {
		margin-top: -22em;
	}

	/* Index Page */
	main h1 {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	main h5:last-child {
		padding-bottom: 5em;
	}

	/* About Page */
	aside {
		margin-top: 2em;
	}
	#tools {
		margin-top: -1.5em;
	}

	/* Work Page */
    #heading {
        height: 100vh;
        margin: 0.5em 0;
    }
}

@media (max-width: 400px) {
	#sections {
		margin-top: -15em;
	}
}
