:root {
	--navTranTime: 375ms;
	--tranTime: 500ms;
	--orange: rgb(255, 166, 0);
}

/* Same on all pages */
body {
	margin: 0;
	overflow-x: hidden;
	background-color: black;
	background-image: radial-gradient(circle closest-side at 70% 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, .75), rgba(0, 0, 0, 1)) , 
						url("../images/coding-backgorund.jpg.jpg");
	background-position: top;
	background-size: 100vw 125vh;
	background-repeat: no-repeat;
}
header, main {
	padding: 1em 5em;
}
footer {
	padding: 2em 5em;
}
main {
	color: white;
	padding-bottom: -16px;
}
.black {
	filter: brightness(0) invert(1);
}

/* Link underline animation */
main a, footer a {
	color: var(--orange);
	text-decoration: underline;
 	text-decoration-color: transparent;
	text-underline-offset: 0.4em;
	transition: var(--tranTime) ease-in-out;
}
main a:hover, footer a:hover {
	color: var(--orange);
	text-decoration: underline;
	text-underline-offset: 0.4em;

	text-decoration-color: rgba(255, 166, 0, 1);
	-webkit-text-decoration-color: rgba(255, 166, 0, 1);
	-moz-text-decoration-color: rgba(255, 166, 0, 1);
}

/* Nav bar */
.dark-bg {
	background-color: rgba(0, 0, 0, 0) !important;
	-webkit-transition: background-color var(--navTranTime) linear;
    -ms-transition: background-color var(--navTranTime) linear;
    transition: background-color var(--navTranTime) linear;
}
.dark-bg:hover {
	background-color: rgba(0, 0, 0, 1) !important;
	-webkit-transition: background-color var(--tranTime) linear;
    -ms-transition: background-color var(--tranTime) linear;
    transition: background-color var(--tranTime) linear;
}
.active {
    color: var(--orange) !important;
}
.nav-item {
	padding: 0 0.5em;
	font-size: 1.25em;
}
.navbar-brand {
	font-size: 1.5em;
	padding-right: 1em;
}
.social {
	margin-top: 1em;
	display: inline-block;
}
.social li {
	list-style-type: none;
	display: inline-block;
}
.collapse {
	justify-content: space-between;
}
#github {
	padding-right: .75em;
}

/* Footer */
.bg-dark {
	background-color: rgba(0, 0, 0, 0.85) !important;
	-webkit-transition: background-color var(--navTranTime) linear;
    -ms-transition: background-color var(--navTranTime) linear;
    transition: background-color var(--navTranTime) linear;
}
.bg-dark:hover {
	background-color: rgba(0, 0, 0, 1) !important;
	-webkit-transition: background-color var(--tranTime) linear;
    -ms-transition: background-color var(--tranTime) linear;
    transition: background-color var(--tranTime) linear;
}
footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Index page */
main {
	margin-top: 1.5em;
}
main h1 {
	margin: 0.5em 0;
	font-size: 4em;
}
main h5 {
	color: rgb(209, 209, 209);
	padding-bottom: .5em;
}
#learnMore {
	margin-top: 0.5em;
}

/* About Page */
.material-tooltip-main {
	margin-top: 0.5em;
}
.rounded {
	border-radius: 1em;
}
#tools {
	margin-top: 2em; 
	text-align: center;
}
#logos a {
	text-decoration: none;
}
#logos img {
	margin-bottom: 1.5em;
}

/* Work Page */
#heading {
	height: 75vh;
}
#sections {
	opacity: 0;
}
.section {
	height: 60vh;
	padding-top: 2em;
	margin-left: 0em;
	width: 100vw;
	background-color: rgba(0, 0, 0, 1);
}
.workLearnMore {
	padding-top: 1em;
}
.section img {
	padding-right: .5em;
}

@media (max-width: 525px) {
	/* Same on all pages */
	header, main {
		padding: 1em 1em;
	}
	footer {
		padding: 2em 1em;
	}
	.hide {
		display: none;
	}
	footer div {
		display: block;
	}

	/* Index Page */
	main h1 {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}
	main h5:last-child {
		padding-bottom: 5em;
	}

	/* Work Page */
    #heading {
        height: 100vh;
        margin: 0.5em 0;
    }
}